@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=Mulish:ital,wght@0,800;1,800&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* header */
body {
    margin: 0;
    padding: 0;
    background-color: #081c15;
}
header{
    position: fixed;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    z-index: 1000
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #081c15b2;
    top: 0;
    z-index: 1000;
    
  }
  .navbar img {
    height: 50px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .navbar ul li {
    margin-left: 20px;
  }
  .navbar ul li a {
    color: rgb(236, 236, 236);
    text-decoration: none;
    padding: 8px 16px;
  }
  .navbar ul li a:hover {
    background-color: transparent;
    border-bottom: 2px solid #83c23c;
    border-radius: 4px;
    transition: border-bottom-color 0.3s;
  }
  .contact {
    background-color: #32cd32;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
  }
  .contact:hover {
    background-color: #28a745; 
    color: #fff; 
    transition: background-color 0.3s ease-in-out; 
  }
  .menu-toggle {
    display: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 24px;
  }
  @media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar ul.showing {
        display: flex;
    }
    .navbar ul li {
        margin: 10px 0;
    }
    .menu-toggle {
        display: block;
    }
  }
  /* header */
  
  /* actividades */
  body {
      margin: 0;
  }
  
  .dive-club-section {
      background-size: 70% 100%;
      background-position: right;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      align-items: center;
     
      background-image: 
          linear-gradient(to right, #081c15 0%, #081c1523 30%),
          linear-gradient(to top, #081c15 0%, #081c1523 20%),
          url('/img/fondoActividades.jpg');
      overflow: hidden;
  }
  
  .text-content {
      color: white;
      margin-left: 80px; 
      max-width: 500px; 
  }
  
  .text-content h1 {
      font-size: 4em;
      margin-bottom: 30px;
      font-family: 'Montserrat';
      font-weight: 800;
  }
  
  .text-content p {
      font-size: 1.3em;
      line-height: 1.5;
      font-family: 'Roboto Mono';
      font-weight: 500;
  }
  
  @media (max-width: 768px) {
      .dive-club-section {
          background-size: cover;
          background-position: center;
          padding: 20px;
          height: auto;
          flex-direction: column;
          justify-content: center;
          text-align: center;
      }
  
      .text-content {
          margin-left: 0;
          max-width: 90%;
      }
  
      .text-content h1 {
          font-size: 2.5em;
          margin-bottom: 20px;
      }
  
      .text-content p {
          font-size: 1.1em;
      }
  
      .container {
          width: 100%;
          padding: 10px;
      }
  
      .statement h1 {
          font-size: 2em;
          margin-top: 20px;
      }
  
      .statement p {
          font-size: 1em;
      }
  
      .video-container video {
          max-width: 100%;
      }
  
      .team h2, .team p {
          font-size: 1.5em;
      }
  
      .team p {
          margin-bottom: 20px;
      }
  
      .team-members {
          flex-direction: column;
          align-items: center;
      }
  
      .team-member {
          width: 90%;
      }
  }
  
  @media (max-width: 480px) {
      .dive-club-section {
          padding-top: 20rem;
          
      }
      
      .text-content h1 {
          font-size: 2em;
      }
  
      .text-content p {
          font-size: 1em;
      }
  
      .statement h1 {
          font-size: 1.5em;
      }
  
      .statement p, .team h2, .team p {
          font-size: 1em;
      }
  
      .team-member h3 {
          font-size: 1em;
      }
  
      .team-member p {
          font-size: 0.9em;
      }
  }
  /* actividades */

/* calendario */
.calendar-section {
  margin-top: 40px;
    text-align: center;
    padding: 20px;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #28a745;
    
}

.header-container h2 {
    margin: 10px;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}

.read-more-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #32cd32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.read-more-btn:hover {
  background-color: #2a9210; 
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 40px;
    justify-items: center;
}

.card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.1);
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3); /* Hace el fondo más transparente */
    color: white;
    padding: 15px 20px 30px 30px;
    border-radius: 0 0 15px 15px;
    text-align: left;
    backdrop-filter: blur(5px); /* Aplica un filtro borroso */
}
.card-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px; 
  background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #0000ff); 
  border-radius: 15px 15px 0 0; 
  
}

.card-content .activity {
    margin: 0;
    font-size: 0.9em;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
}

.card-content h3 {
    margin: 5px 0;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
}

.card-content .date {
    margin: 0;
    font-size: 0.9em;
    color: #ddd;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* calendario */







  /* otra pagina */
  .hiking-section {
    display: flex;
    align-items: center;
    background-color: #3c473c95;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin: 5rem 20px 50px 20px;
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%;
    border-radius: 30px;
    
}

.text-container {
    flex: 2;
    margin-left: 20px;
}

.text-container h2 {
  font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.text-container h3 {
  font-family: "Montserrat", sans-serif;
  
    font-size: 20px;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Roboto Mono';
    
    font-weight: 100 700;
}

.btn {
  background-color: #32cd32;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background-color: #2a9210; 
  color: #fff; 
  transition: background-color 0.3s ease-in-out; 
}





  /* otra pagina */

  /* footer */
footer {
    background-color: #081C15;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  
  .footer-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }
  
  .footer-content button {
    background-color: #32cd32;
    color: #2e3b39;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  .footer-content button:hover {
    background-color: #2a9210; 
  }
  
  .footer-border {
    height: 4px;
    background: linear-gradient(to right, #32CD32, #FFD700, #FF7F50, #32CD32, #00CED1);
    margin-top: 10px;
    width: 100%;
  }
  
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
    
    .footer-content h1, .footer-content button {
      margin-bottom: 20px; 
    }
  }
  /* footer */

  /* abtus */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    padding-top: 40px;
}

.statement {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    color: rgb(229, 229, 229);
}

.statement h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-top: 45px;
    font-family: 'Montserrat';
  font-weight: 800;
}

.statement p {
  font-size: 1.2em;
  margin-bottom: 0px;
  max-width: 750px; 
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Mono';

  font-weight: 100 700;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.video-container video {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.team {
    text-align: center;
}

.team h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(229, 229, 229);
    font-family: 'Montserrat';
    font-weight: 800;
}

.team p {
  font-size: 1.2em;
  margin-bottom: 40pxpx;
  max-width: 750px; 
  margin-left: auto;
  margin-right: auto;
    color: rgb(229, 229, 229);
    font-family: 'Roboto Mono';
    font-weight: 100 700;
}

.team-members {
  margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(240, 237, 237, 0.452);
    border: 1px solid #cccccc00;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;
    color: inherit;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
  width: 100%; 
  height: auto; 
  border-radius: 50%; 
  margin-bottom: 10px;
  object-fit: cover; 
}
.team-member h3 {
  font-family: 'Montserrat';
  
  font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 1em;
    color: #242424;
}

  /* abtus */

  /* preparacion */
  
  .proceso {
    padding: 10px;
    position: relative;
    color: #d2d2d2;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #222;
    border-radius: 10px;
    padding: 30px;
}

.content img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.text {
    text-align: left;
    width: 100%; 
    font-family: 'Roboto Mono';
    -ms-text-justify: auto;
}

.title {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}

.verMas {
    margin-top: 20px;
    background-color: #3af80b;
    color: #000;
    padding: 10px 20px;
    border: olivedrab;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
}

.hidden-content {
    display: none;
    background-color: #333;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-grid img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilos responsivos */
@media (min-width: 768px) {
    .content {
        flex-direction: column; /* Mantiene la dirección en columna para tablets */
    }

    .content img {
        margin-right: 0; /* Remueve margen derecho */
        margin-bottom: 20px; /* Añade margen inferior */
    }

    .text {
        text-align: left;
        margin-top: 0;
        width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    }
}

@media (min-width: 1024px) {
    .content {
        flex-direction: row; /* Cambia a fila para pantallas grandes */
        align-items: flex-start; /* Alinea al inicio */
    }

    .content img {
        margin-right: 20px; /* Añade margen derecho */
        margin-bottom: 0; /* Remueve margen inferior */
    }

    .text {
        max-width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    }

    .button {
        font-size: 18px;
        padding: 12px 24px;
    }
}

/* Estilo para la cuadrícula de imágenes en hidden-content */
@media (min-width: 768px) {
    .image-grid img {
        max-width: 48%;
    }
}

@media (min-width: 1024px) {
    .image-grid img {
        max-width: 23%;
    }
}


  /* preparacion */